.App {
  text-align: center;
  background-color: rgb(0, 255, 42);
  width: 100%;
  height: 100%;
}

.app_container{
  width: 75%;
  background-color: white;
  position: absolute;
  left: 50%;
  height: 100%;
  transform: translateX(-50%)
}

h3{
  color: rgb(0, 255, 42);
  font-size: 2rem;
}

.app_container > .section{
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.header{
  margin: 2rem 0
}

.section-drop{
  width: 60%;
  margin: 0 auto;
}

.data-containerX{
  display: flex;
  flex-direction: column;
  margin: 1rem 0
}

.image > img{
  width: 15vw;
  height: 15vw;
  border: 1px solid black;
}

.image{
  display: flex;
  justify-content: center;
  margin: 1rem auto;
  padding: 1rem;

}